apiVersion: v1
kind: Service
metadata:
  name: node-maintenance-operator-controller-manager-metrics-service
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    node-maintenance-operator: ""
  {{- include "chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.metricsService.type | quote }}
  selector:
    control-plane: controller-manager
    node-maintenance-operator: ""
  {{- include "chart.selectorLabels" . | nindent 4 }}
  ports:
  {{- .Values.metricsService.ports | toYaml | nindent 2 -}}
