image:
  csiProvisioner:
    repo: registry.k8s.io/sig-storage/csi-provisioner
    tag: "v3.1.1"
    pullPolicy: IfNotPresent
  csiAttacher:
    repo: registry.k8s.io/sig-storage/csi-attacher
    tag: "v3.5.0"
    pullPolicy: IfNotPresent
  csiResizer:
    repo: registry.k8s.io/sig-storage/csi-resizer
    tag: "v1.5.0"
    pullPolicy: IfNotPresent
  csiSnapshotter:
    repo: registry.k8s.io/sig-storage/csi-snapshotter
    tag: "v6.0.1"
    pullPolicy: IfNotPresent
  csiNodeRegistrar:
    repo: registry.k8s.io/sig-storage/csi-node-driver-registrar
    tag: "v2.5.1"
    pullPolicy: IfNotPresent
  gcepdDriver:
    repo: ghcr.io/edgelesssys/constellation/gcp-csi-driver
    # CSI driver version is independent of Constellation releases
    tag: "v1.1.0"
    pullPolicy: IfNotPresent

csiController:
  replicas: 1
  runOnControlPlane: true

global:
  keyServiceName: "key-service"
  keyServicePort: 9000
  keyServiceNamespace: "kube-system"

createStorageClass: true
