build --stamp --workspace_status_command=tools/workspace_status
build --incompatible_enable_cc_toolchain_resolution
build --incompatible_strict_action_env=true
build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --platforms @zig_sdk//libc_aware/platform:linux_amd64_gnu.2.34
build --incompatible_use_toolchain_resolution_for_java_rules
build --java_runtime_version=pinned_remotejdk_11
build --tool_java_runtime_version=pinned_remotejdk_11
build --experimental_output_directory_naming_scheme=diff_against_baseline
test --java_runtime_version=pinned_remotejdk_11
test --tool_java_runtime_version=pinned_remotejdk_11
test --incompatible_use_toolchain_resolution_for_java_rules
test --experimental_output_directory_naming_scheme=diff_against_baseline
test --//bazel/settings:tpm_simulator
test --cache_test_results=no

build:linux_amd64 --platforms @zig_sdk//libc_aware/platform:linux_amd64_gnu.2.34
build:linux_arm64 --platforms @zig_sdk//libc_aware/platform:linux_arm64_gnu.2.34
build:linux_amd64_static --platforms @zig_sdk//libc_aware/platform:linux_amd64_musl
build:linux_arm64_static --platforms @zig_sdk//libc_aware/platform:linux_arm64_musl
build:nostamp --stamp=false --workspace_status_command=
run:nostamp --stamp=false --workspace_status_command=
