# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
# go.work
go.work.sum

build
admin.conf
bootstrapper-*

# VS Code configuration folder
.vscode
# IntelliJ-based IDEs configuration folder (e.g. GoLand)
.idea

# Debug and testing files
debug/

# Image
image/*.ign
image/prebuilt/*
image/build/*
image/dependencies/bootstrapper
image/dependencies/cilium
image/images/*
image/cosa.lock
image/config.mk

# Terraform
*.tfstate
*.tfstate.backup
.terraform
.terraform.tfstate.lock.info
*.tfvars
terraform.log

# macOS
.DS_Store

# Python
__pycache__/

# Gitpod
.gitpod.yml

# Bazel
/bazel-*
.bazeloverwriterc

# mkosi
.mkosi-tmp*

# nix
/result

# s3proxy misc files
port-forward.log
s3proxy-ca.crt

# Lychee link checker
.lycheecache
