# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

build
admin.conf
coordinatorConfig.json
coordinator-*
util/pcr-reader/pcrs/

# VS Code configuration folder
.vscode
# Debug and testing files
debug/

# Image
image/*.ign
image/build/*
image/dependencies/coordinator
image/images/*
image/cosa.lock
