# keep-sorted start
.golangci.yml @daniel-weisse
/3rdparty/gcp-guest-agent @msanft
/bazel @burgerdev
/bootstrapper @msanft
/cli/internal/cloudcmd @daniel-weisse
/cli/internal/cmd/upgrade* @daniel-weisse
/cli/internal/libvirt @daniel-weisse
/cli/internal/terraform @daniel-weisse
/csi @daniel-weisse
/debugd @daniel-weisse
/disk-mapper @daniel-weisse
/docs @thomasten
/e2e @msanft
/hack/azure-snp-report-verify @msanft
/hack/bazel-deps-mirror @burgerdev
/hack/cli-k8s-compatibility @burgerdev
/hack/clidocgen @thomasten
/hack/fetch-broken-e2e @msanft
/hack/gocoverage @msanft
/hack/oci-pin @burgerdev
/hack/qemu-metadata-api @daniel-weisse
/hack/remove-tf-providers @msanft
/hack/terraform @msanft
/hack/tools @msanft
/hack/versioninfogen @daniel-weisse
/image @msanft
/internal/api @daniel-weisse
/internal/atls @thomasten
/internal/attestation @daniel-weisse
/internal/cloud @msanft
/internal/compatibility @daniel-weisse
/internal/config @msanft
/internal/constellation/featureset @thomasten
/internal/constellation/helm @burgerdev
/internal/constellation/kubecmd @daniel-weisse
/internal/constellation/state @msanft
/internal/containerimage @burgerdev
/internal/crypto @thomasten
/internal/cryptsetup @daniel-weisse
/internal/file @daniel-weisse
/internal/grpc @thomasten
/internal/imagefetcher @msanft
/internal/installer @msanft
/internal/kms @daniel-weisse
/internal/kubernetes @msanft
/internal/license @thomasten
/internal/logger @daniel-weisse
/internal/nodestate @daniel-weisse
/internal/osimage @msanft
/internal/retry @msanft
/internal/semver @daniel-weisse
/internal/sigstore @burgerdevb
/internal/staticupload @msanft
/internal/versions @msanft
/joinservice @daniel-weisse
/keyservice @daniel-weisse
/measurement-reader @daniel-weisse
/operators @msanft
/terraform-provider-constellation @msanft
/tools @burgerdev
/upgrade-agent @msanft
/verify @daniel-weisse
# keep-sorted end
