# keep-sorted start
.golangci.yml @katexochen
/3rdparty/gcp-guest-agent @3u13r
/bazel @burgerdev
/bazel/ci @katexochen
/bazel/sh @katexochen
/bootstrapper @3u13r
/cli/internal/cloudcmd @daniel-weisse
/cli/internal/cmd/upgrade* @derpsteb
/cli/internal/libvirt @daniel-weisse
/cli/internal/terraform @elchead
/csi @daniel-weisse
/debugd @daniel-weisse
/disk-mapper @daniel-weisse
/docs @thomasten
/e2e @3u13r
/hack/azure-snp-report-verify @derpsteb
/hack/bazel-deps-mirror @burgerdev
/hack/cli-k8s-compatibility @derpsteb
/hack/clidocgen @thomasten
/hack/fetch-broken-e2e @katexochen
/hack/gocoverage @katexochen
/hack/oci-pin @burgerdev
/hack/qemu-metadata-api @daniel-weisse
/hack/remove-tf-providers @katexochen
/hack/terraform @3u13r
/hack/tools @katexochen
/hack/versioninfogen @daniel-weisse
/image @msanft
/internal/api @derpsteb
/internal/atls @thomasten
/internal/attestation @daniel-weisse
/internal/cloud @3u13r
/internal/compatibility @derpsteb
/internal/config @derpsteb
/internal/constellation/featureset @thomasten
/internal/constellation/helm @derpsteb
/internal/constellation/kubecmd @daniel-weisse
/internal/constellation/state @elchead
/internal/containerimage @burgerdev
/internal/crypto @thomasten
/internal/cryptsetup @daniel-weisse
/internal/file @daniel-weisse
/internal/grpc @thomasten
/internal/imagefetcher @msanft
/internal/installer @3u13r
/internal/kms @daniel-weisse
/internal/kubernetes @3u13r
/internal/license @thomasten
/internal/logger @daniel-weisse
/internal/nodestate @daniel-weisse
/internal/osimage @msanft
/internal/retry @katexochen
/internal/semver @derpsteb
/internal/sigstore @elchead
/internal/staticupload @msanft
/internal/versions @3u13r
/joinservice @daniel-weisse
/keyservice @daniel-weisse
/measurement-reader @daniel-weisse
/operators @3u13r
/terraform-provider-constellation @msanft @elchead
/tools @burgerdev
/upgrade-agent @3u13r
/verify @daniel-weisse
# keep-sorted end
