go 1.21.1

toolchain go1.21.5

use (
	.
	./3rdparty/node-maintenance-operator
	./hack
	./hack/tools
	./operators/constellation-node-operator
	./operators/constellation-node-operator/api
	./terraform-provider-constellation
)
