apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: snapshot-validation-serving-cert
  namespace: {{ .Release.Namespace }}
spec:
  dnsNames:
  - 'snapshot-validation-service.{{ .Release.Namespace }}.svc'
  - 'snapshot-validation-service.{{ .Release.Namespace }}.svc.cluster.local'
  issuerRef:
    kind: Issuer
    name: snapshot-validation-selfsigned-issuer
  secretName: snapshot-validation-serving-cert
