[Unit]
Description=Export Constellation Debug Level to Environment
ConditionKernelCommandLine=constellation.debug

[Service]
Type=simple
ExecStart=/bin/bash -c "DEBUG=$(< /proc/cmdline tr  ' ' '\n' | grep constellation.debug | sed 's/constellation.debug=//'); [ $DEBUG = 'true' ] && echo CONSTELLATION_DEBUG_FLAGS=--debug >> /run/constellation.env"

[Install]
WantedBy=multi-user.target
