[Unit]
Description=Export Constellation Debug Level to Environment

[Service]
Type=simple
ExecStart=/bin/bash -c "tr ' ' '\n' < /proc/cmdline | grep -q 'constellation.debug' && echo CONSTELLATION_DEBUG_FLAGS=--debug >> /run/constellation.env"

[Install]
WantedBy=multi-user.target
