[Unit]
Description=Print PCR state on startup
Before=constellation-bootstrapper.service
ConditionKernelCommandLine=constellation.debug
After=export_constellation_debug.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/constellation-pcrs

[Install]
WantedBy=multi-user.target
