HostKey /var/run/state/ssh/ssh_host_ecdsa_key
HostCertificate /var/run/state/ssh/ssh_host_cert.pub
TrustedUserCAKeys /var/run/state/ssh/ssh_ca.pub
PasswordAuthentication no
ChallengeResponseAuthentication no
