[Unit]
Description=Prepare encrypted state disk
Before=initrd-fs.target
After=network-online.target nss-lookup.target configure-constel-csp.service
After=export_constellation_debug.service
Wants=network-online.target
Requires=initrd-root-fs.target configure-constel-csp.service
FailureAction=reboot-immediate

[Service]
Type=oneshot
EnvironmentFile=/run/constellation.env
ExecStart=/bin/bash /usr/sbin/prepare-state-disk $CONSTELLATION_DEBUG_FLAGS
RemainAfterExit=yes
StandardOutput=tty
StandardInput=tty
StandardError=tty
TimeoutSec=infinity

[Install]
WantedBy=basic.target
