# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-mgmt-resource==21.1.0
azure-identity==1.10.0
azure-mgmt-subscription==3.1.1
azure-keyvault==4.2.0
