global:
  # Port on which the KeyService will listen. Global since join-service also uses the value.
  keyServicePort: 9000
  # Path to which secrets/CMs are mounted.
  serviceBasePath: /var/config
  # Name of the ConfigMap that holds measurements and other info.
  joinConfigCMName: join-config
  # Name of the ConfigMap that holds configs that should not be modified by the user.
  internalCMName: internal-config

# Set one of the tags to true to indicate which CSP you are deploying to.
tags:
  AWS: false
  Azure: false
  GCP: false
  OpenStack: false
  QEMU: false
