[Unit]
Description=Constellation Bootstrapper
Wants=network-online.target
Requires=sshd-keygen.target
After=network-online.target configure-constel-csp.service sshd-keygen@ed25519.service
After=export_constellation_debug.service

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
EnvironmentFile=/run/constellation.env
Environment=PATH=/run/state/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStart=/usr/bin/bootstrapper

[Install]
WantedBy=multi-user.target
