[Unit]
Description=Create a host SSH key
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "ssh-keygen -t ecdsa -q -N '' -f /run/ssh_host_ecdsa_key"

[Install]
WantedBy=network-pre.target
