[Unit]
Description=Create a host SSH key
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "mkdir -p /run/ssh; ssh-keygen -t ecdsa -q -N '' -f /run/ssh/ssh_host_ecdsa_key"

[Install]
WantedBy=multi-user.target
