{{- if eq .Values.csp "GCP" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: gceconf
  namespace: {{ .Release.Namespace }}
data:
  gce.conf: "[global]\nproject-id = {{.Values.GCP.projectID }}\nuse-metadata-server = true\nnode-tags = constellation-{{ .Values.GCP.uid }}\nregional = true\n"
{{- end -}}
