name: Build and upload join-service image

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release/**"

jobs:
  build-join-service:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out repository
        id: checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0

      - name: Setup Go environment
        uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f # tag=v3.3.1
        with:
          go-version: "1.19.2"

      - name: Build and upload join-service container image
        id: build-and-upload
        uses: ./.github/actions/build_micro_service
        with:
          name: join-service
          projectVersion: "0.0.0"
          dockerfile: joinservice/Dockerfile
          githubToken: ${{ secrets.GITHUB_TOKEN }}
