name: Build logcollector images

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "debugd/filebeat/**"
      - "debugd/logstash/**"
      - "hack/logcollector/internal/templates/**"
      - ".github/workflows/build-logcollector-images.yml"

jobs:
  build-logcollector-debugd-images:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out repository
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Build and upload Logstash container image
        uses: ./.github/actions/build_micro_service
        with:
          name: logstash-debugd
          dockerfile: debugd/logstash/Dockerfile
          githubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and upload Filebeat container image
        uses: ./.github/actions/build_micro_service
        with:
          name: filebeat-debugd
          dockerfile: debugd/filebeat/Dockerfile
          githubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and upload Metricbeat container image
        uses: ./.github/actions/build_micro_service
        with:
          name: metricbeat-debugd
          dockerfile: debugd/metricbeat/Dockerfile
          githubToken: ${{ secrets.GITHUB_TOKEN }}
