name: Build and Upload GCP CCM container image

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build-ccm-gcp.yml'
      - '.github/actions/gcpccm_vers_to_build/**'
  schedule:
    - cron: "0 4 * * 3" # Every Wednesday at 4am UTC
  workflow_dispatch:

jobs:
  find-ccm-versions:
    runs-on: ubuntu-24.04
    outputs:
      versions: ${{ steps.find-versions.outputs.versions }}
      latest: ${{ steps.find-latest.outputs.latest }}
    steps:
      - name: Checkout Constellation
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Checkout kubernetes/cloud-provider-gcp
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: "kubernetes/cloud-provider-gcp"
          path: "cloud-provider-gcp"
          fetch-depth: 0

      - name: Setup Go environment
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: "1.24.2"
          cache: false

      - name: Install Crane
        run: |
          go install github.com/google/go-containerregistry/cmd/crane@c195f151efe3369874c72662cd69ad43ee485128 # v0.20.2

      - name: Find versions
        id: find-versions
        uses: ./.github/actions/gcpccm_vers_to_build
        with:
          path: "cloud-provider-gcp"

      - name: Find latest
        id: find-latest
        run: |
          rawList=$(jq -r '.[]' <<< '${{ steps.find-versions.outputs.versions }}')
          lastest=$(echo "${rawList}" | sort -V | tail -n 1)
          echo "latest=${lastest}" | tee -a "$GITHUB_OUTPUT"

  build-ccm-gcp:
    # matrix cannot handle empty lists
    if: needs.find-ccm-versions.outputs.versions != '[]'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    needs: find-ccm-versions
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.find-ccm-versions.outputs.versions) }}
    steps:
      - name: Checkout Constellation
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Checkout kubernetes/cloud-provider-gcp
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: "kubernetes/cloud-provider-gcp"
          path: "cloud-provider-gcp"
          ref: refs/tags/ccm/${{ matrix.version }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: |
            ghcr.io/edgelesssys/cloud-provider-gcp
          flavor: |
            latest=${{ matrix.version == needs.find-ccm-versions.outputs.latest }}
          tags: |
            type=semver,pattern=v{{version}},value=${{ matrix.version }}

      - name: Log in to the Container registry
        id: docker-login
        uses: ./.github/actions/container_registry_login
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build CCM
        working-directory: cloud-provider-gcp
        run: |
          bazel build //cmd/cloud-controller-manager:cloud-controller-manager

      - name: Copy CCM
        working-directory: cloud-provider-gcp
        run: |
          cp ./bazel-bin/cmd/cloud-controller-manager/cloud-controller-manager_/cloud-controller-manager ./cloud-controller-manager

      - name: Prepare Dockerfile
        working-directory: cloud-provider-gcp
        run: |
          cat > Dockerfile <<EOF
          FROM scratch
          COPY ./cloud-controller-manager /cloud-controller-manager
          EOF

      - name: Build and push container image
        id: build
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
        with:
          context: ./cloud-provider-gcp
          push: ${{ github.ref_name == 'main' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
