name: Check measurements reproducibility
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: The version of the measurements that are downloaded from the CDN.
        required: true
      ref:
        type: string
        description: The git ref to check out. You probably want this to be the tag of the release you are testing.
        required: true
  workflow_call:
    inputs:
      version:
        type: string
        description: The version of the measurements that are downloaded from the CDN.
        required: true
      ref:
        type: string
        description: The git ref to check out.
        required: true

jobs:
  check-reproducibility:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Check reproducibility
        uses: ./.github/actions/check_measurements_reproducibility
        with:
          version: ${{ github.event.inputs.version }}
