name: Links

on:
  workflow_dispatch:
  push:
    branches:
      - "release/**"
    paths:
      - "**.md"
      - "**.html"
      - "./.github/workflows/check-links.yml"
  pull_request:
    paths:
      - "**.md"
      - "**.html"
      - "./.github/workflows/check-links.yml"

jobs:
  linkChecker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Link Checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: "--config ./.lychee.toml './**/*.md' './**/*.html'"
          fail: true
