name: Links

on:
  workflow_dispatch:
  push:
    branches:
      - "release/**"
    paths:
      - "**.md"
      - "**.html"
      - "./.github/workflows/check-links.yml"
  pull_request:
    paths:
      - "**.md"
      - "**.html"
      - "./.github/workflows/check-links.yml"

jobs:
  linkChecker:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Link Checker
        uses: lycheeverse/lychee-action@ec3ed119d4f44ad2673a7232460dc7dff59d2421 # v1.8.0
        with:
          args: "--verbose --no-progress --max-concurrency 5 --exclude-path './internal/constellation/helm/charts/cilium' './**/*.md' './**/*.html'"
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
