name: Spelling check for docs (Vale)
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"

jobs:
  prose:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Vale
        uses: errata-ai/vale-action@3f7188c866bcb3259339a09f517d7c4a8838303c # tag=reviewdog
        with:
          version: 2.17.0
          files: docs/docs
