name: e2e test marketplace image

on:
  workflow_dispatch:
    inputs:
      nodeCount:
        description: "Number of nodes to use in the cluster. Given in format `<control-plane nodes>:<worker nodes>`."
        default: "3:2"
        type: string
      attestationVariant:
        description: "Which attestation variant to use."
        type: choice
        options:
          - "aws-sev-snp"
          - "azure-sev-snp"
          - "azure-tdx"
          - "gcp-sev-es"
          - "gcp-sev-snp"
        default: "azure-sev-snp"
        required: true
      runner:
        description: "Architecture of the runner that executes the CLI"
        type: choice
        options:
          - "ubuntu-24.04"
          - "macos-12"
        default: "ubuntu-24.04"
      test:
        description: "The test to run."
        type: choice
        options:
          - "sonobuoy quick"
          - "sonobuoy full"
          - "autoscaling"
          - "lb"
          - "perf-bench"
          - "verify"
          - "recover"
          - "malicious join"
          - "nop"
        required: true
      kubernetesVersion:
        description: "Kubernetes version to create the cluster from."
        default: "1.29"
        required: true
      cliVersion:
        description: "Version of a released CLI to download. Leave empty to build the CLI from the checked out ref."
        type: string
        default: ""
        required: false
      marketplaceImageVersion:
        description: "Marketplace image version to use in the cluster's nodes. Needs to be a release semver."
        type: string
        default: ""
        required: true
      machineType:
        description: "Override VM machine type. Leave as 'default' or empty to use the default VM type for the selected cloud provider."
        type: string
        default: "default"
        required: false
      regionZone:
        description: "Region or zone to create the cluster in. Leave empty for default region/zone."
        type: string
      git-ref:
        description: "Git ref to checkout."
        type: string
        default: "head"
        required: false

jobs:
  e2e-test:
    permissions:
      id-token: write
      checks: write
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/e2e-test.yml
    with:
      nodeCount: ${{ inputs.nodeCount }}
      attestationVariant: ${{ inputs.attestationVariant }}
      runner: ${{ inputs.runner }}
      test: ${{ inputs.test }}
      kubernetesVersion: ${{ inputs.kubernetesVersion }}
      cliVersion: ${{ inputs.cliVersion }}
      imageVersion: ${{ inputs.marketplaceImageVersion }}
      machineType: ${{ inputs.machineType }}
      regionZone: ${{ inputs.regionZone }}
      git-ref: ${{ inputs.git-ref }}
      marketplaceImageVersion: ${{ inputs.marketplaceImageVersion }}
      force: true
