name: Make updated OS images available on release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: "Semantic version tag of the release (vX.Y.Z)."
        required: true
      latest:
        description: "Whether to update the latest tag."
        type: boolean
        default: false

env:
  REPO: edgelesssys/constellation
  TAG: ${{ github.event.release.tag_name }}${{ github.event.inputs.tag }}

jobs:
  update:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Override latest
        id: override
        if: github.event.inputs.latest == 'true'
        run: echo "LATEST=true" >> "$GITHUB_ENV"

      - name: Check if should mark latest
        if: github.event.inputs.latest != 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          latest_release_tag=$(gh api \
            -H "Accept: application/vnd.github+json" \
            "/repos/${REPO}/releases/latest" \
            | jq -r '.tag_name')
          echo "Latest release tag: ${latest_release_tag}"
          echo "Current tag: ${TAG}"
          if [[ "${latest_release_tag}" == "${TAG}" ]]; then
            echo "LATEST=true" >> "$GITHUB_ENV"
          else
            echo "LATEST=false" >> "$GITHUB_ENV"
          fi

      - name: Setup Go environment
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: "1.20.1"
          cache: true

      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@67fbcbb121271f7775d2e7715933280b06314838 # v1.7.0
        with:
          role-to-assume: arn:aws:iam::795746500882:role/GithubAddReleaseVersion
          aws-region: eu-central-1

      - name: Build versionsapi CLI
        working-directory: internal/versionsapi/cli
        run: go build -o versionsapi

      - name: Add image version to versionsapi
        working-directory: internal/versionsapi/cli
        run: |
          latest_flag=$([[ "${LATEST}" = "true" ]] && echo "--latest" || echo "")
          ./versionsapi add \
            --release \
            --stream "stable" \
            --kind "image" \
            --version "${TAG}" \
            "${latest_flag}"

      - name: Add CLI version to versionsapi
        working-directory: internal/versionsapi/cli
        run: |
          latest_flag=$([[ "${LATEST}" = "true" ]] && echo "--latest" || echo "")
          ./versionsapi add \
            --release \
            --stream "stable" \
            --kind "cli" \
            --version "${TAG}" \
            "${latest_flag}"
