name: Go mod tidy check

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"
  pull_request:
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"

jobs:
  gotidycheck:
    name: Go mod tidy check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Go environment
        uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f # tag=v3.3.1
        with:
          go-version: "1.19.2"

      - name: Get Go submodules
        id: submods
        shell: bash
        run: |
          mods=$(go list -f '{{.Dir}}' -m | xargs)
          echo "Found mods: $mods"
          echo "submods=${mods}" >> $GITHUB_OUTPUT

      - name: Go tidy check
        id: tidycheck
        uses: katexochen/go-tidy-check@45731e0013a976d5d616d79007c7ba52de6ce542 # tag=v1.0.2
        with:
          modules: ${{ steps.submods.outputs.submods }}

      # The following steps are only executed if the previous tidy check failed
      # and the action runs on an renovat branche. In this case, we tidy all
      # modules again and commit the changes, so the user doesn't need to do it.

      - name: Tidy modules on renovate branches
        if: ${{ failure() && (steps.tidycheck.conclusion == 'failure') && startsWith(github.head_ref, 'renovate/') }}
        shell: bash
        run: |
          for mod in ${{ steps.submods.outputs.submods }}; do
            (cd $mod; go mod tidy)
          done

      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
