name: Shellcheck
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - "**.sh"
      - "**.bash"
      - "image/**"
      - ".github/workflows/test-shellcheck.yml"
  pull_request:
    paths:
      - "**.sh"
      - "**.bash"
      - "image/**"
      - ".github/workflows/test-shellcheck.yml"

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Setup Go environment
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: "1.20.1"

      - name: Install shellfmt
        shell: bash
        run: |
          go install github.com/katexochen/sh/v3/cmd/shfmt@faf7f58964998201d22efe41fef41ae4e1953f3b # v3.6.0

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # v2.0.0
        with:
          severity: info
          ignore_paths: charts/cilium
          additional_files: $(shfmt -f . | grep -v helm/charts/cilium)
