name: Terraform security scanner

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**.tf"
  pull_request:
    paths:
      - "**.tf"

permissions:
  contents: read
  pull-requests: write

jobs:
  tfsec:
    name: tfsec
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
        with:
          ref: ${{ github.head_ref }}

      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@d9fa64305ec243e19f9be1200dfc8e8154dc364f
        with:
          tfsec_formats: default,text
          tfsec_args: --force-all-dirs
          github_token: ${{ github.token }}

      - name: tfsec summary
        shell: bash
        run: cat results.text |  tail -n 27 >> $GITHUB_STEP_SUMMARY
