name: Actionlint

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - ".github/**.yml"
  pull_request:
    paths:
      - ".github/**.yml"

jobs:
  actionlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Setup Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: "1.20.1"
          cache: true

      - name: Install ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # v2.0.0
        with:
          ignore_paths: "*"

      - name: Install Actionlint
        shell: bash
        run: go install github.com/rhysd/actionlint/cmd/actionlint@7fdc9630cc360ea1a469eed64ac6d78caeda1234 # v1.6.22

      - name: Run Actionlint
        shell: bash
        run: actionlint
