name: Integration Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"
      - ".github/workflows/test-integration.yml"
  pull_request:
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"
      - ".github/workflows/test-integration.yml"

jobs:
  integration-test:
    runs-on: ubuntu-22.04
    env:
      CTEST_OUTPUT_ON_FAILURE: True
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}

      - name: Setup Go environment
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: "1.19.5"
          cache: true

      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y libcryptsetup12 libcryptsetup-dev

      - name: Create and populate build folder
        run: mkdir build && cd build && cmake ..

      # Runs all test targets starting with "integration-"
      - name: Integration Tests
        working-directory: build
        run: ctest -R integration-
