name: Update locked rpms

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 0" # every sunday at 8am

jobs:
  update-rpms:
    runs-on: "ubuntu-24.04"
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.CI_COMMIT_PUSH_PR }}

      - name: Assume AWS role to upload Bazel dependencies to S3
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::795746500882:role/GithubConstellationMirrorWrite
          aws-region: eu-central-1

      - name: Setup bazel
        uses: ./.github/actions/setup_bazel_nix

      - name: Update rpms
        run: bazel run //image/mirror:update_packages

      - name: Check if there are any changes
        id: git-check
        run: |
          if git diff --quiet; then
            echo "commitChanges=false" | tee -a "${GITHUB_OUTPUT}"
          else
            echo "commitChanges=true" | tee -a "${GITHUB_OUTPUT}"
          fi

      - name: Create pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: "image/automated/update-rpms-${{ github.run_number }}"
          base: main
          title: "image: update locked rpms"
          body: |
            :robot: *This is an automated PR.* :robot:

            The PR is triggered as part of the scheduled rpm update workflow.
            It updates the locked rpm packages that form the Constellation OS images.
          commit-message: "image: update locked rpms"
          committer: edgelessci <edgelessci@users.noreply.github.com>
          author: edgelessci <edgelessci@users.noreply.github.com>
          labels: dependencies
          # We need to push changes using a token, otherwise triggers like on:push and on:pull_request won't work.
          token: ${{ !github.event.pull_request.head.repo.fork && secrets.CI_COMMIT_PUSH_PR || '' }}
